
/* #root {
  background-size: cover !important;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  width: 100% !important;
  height: 100% !important;
}

#root > div {
  -webkit-box-flex: 1 !important;
  flex: 1 0 auto !important;
  display: flex !important;
}

.m-login.m-login--2 {
  background-size: cover !important;
} */

body {
  background-attachment: fixed;
  background-image: url(./media/img/bg/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .m-grid .m-grid--hor .m-grid--root .m-page {
  background-size: cover !important;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  width: 100% !important;
  height: 100% !important;
} */

/* .m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile) > .m-grid__item.m-grid__item--fluid, .m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile) > .m-grid__item.m-grid__item--fluid-general {
    -webkit-box-flex: 1 !important;
    flex: 1 0 auto !important;
} */
